{% extends "base.html" %}
{% block title %} Radon Gas Web {% endblock %}
{% block styles %} <link rel='stylesheet' href=" {{ url_for('static', filename='styles.css') }}"/> {% endblock %}

{% block content %} 

<div class="title-container">
      <h1 style="color:black;font-size:100px;">Action on Radon</h1>
    </div>

    <div class="facts-container">
      <!-- white strip background -->
      <!-- three facts -->
      <!--   Fact                 Fact                      Fact -->
      <!--  info                  info                      info -->
    
      
      <div class="fact" id="fact1">
        <div>Radon is an invisible radioactive gas that causes lung cancer. In Canada, it is the second highest cause of lung cancer, after smoking. It comes from the ground and is produced by the breakdown of the mineral uranium that occurs naturally in the soil. As uranium breaks down, it eventually releases radon. Radon is a gas, so it travels easily through the soil, working its way toward the surface.</div>
      </div>

      <div class="fact" id="fact2">
        <div>When radon escapes into outdoor air, the concentrations are low (approximately 15 Bq/m3). However, radon also escapes into our homes wherever they’re in contact with the soil, finding its way in through cracks or around pipes and drains. Here in Canada, our homes are well sealed to keep us warm in the winter, and so the radon concentration in our homes can easily build up.</div>
      
      </div>

      <div class="fact" id="fact3">
        <div>Canada is one of several countries with high levels of radon. Saskatchewan, Manitoba, New Brunswick and the Yukon are regions within the country that have radon levels that are comparable to some of the highest levels around the world, such as in the Czech Republic, Finland, Mexico and Sweden. However, every region in Canada has homes with elevated radon, so it’s worthwhile testing your home.</div>
      </div>

    </div>
    
    <div id="question">
    
        <h3>Why us?</h3>
        <h8 style="color:black;font-size:20px;">Not sure if the area you live in is high in Radon gas? Our state of the art website provides a map with Radon Gas levels all across Canada along with in depth information, and solutions so that Radon gas can never be an issue in your household ever again. Once you get your Radon Gas levels tested, be sure to provide us with your postal code and what your Radon Gas level was to make sure no one else suffers from this gas!</h8>
        <div class="image-container">
        </div>
      </div>
      
 <div class="image2-container">
      </div>
    </div>
    <div class="map-container">
      <h1>Are You Safe?</h1> 
      <h4>Enter your postal code to find out</h4>
      <form action="/datamap" method="post">
	      <p>Postal Code:</p>
	      <p><input type="text" placeholder="ex. M5V 3L9" name="pc" /></p>
	      <p><input type="submit" value="submit"/></p>
      </form>

      <h1>Prevelance of Radon Levels in Canada</h1>

    </div>
    <iframe class="map", src="/map" width="2000" height="600"></iframe>

    <div class="white">
    </div>

{% endblock %}


