.input-container {

  position: fixed;
  width: 310px;
  top: 100px;
  height: 390px;
  left: 75px;
  border-radius: 10px;
  background-color: rgb(238, 225, 225, 10);

  text-align: center;
  
}

#postal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.image{
  position: fixed;
  width: 200px;
  top: 500px;
  height: 160px;
  left: 130px;
  background-image: url("radonimage.png");
  border-radius: 10px;
}


