<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_40e0c0118d1d476793c55755e149a585 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_40e0c0118d1d476793c55755e149a585" ></div>
        
</body>
<script>    
    
            var map_40e0c0118d1d476793c55755e149a585 = L.map(
                "map_40e0c0118d1d476793c55755e149a585",
                {
                    center: [58.785504, -97.251307],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_28c114a4551f4dc998f18be6fe5f22b7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
            var marker_28ffd7708c0048eaa450189aa9f39597 = L.marker(
                [43.4363, -80.5093],
                {}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
        var popup_2a32d18b605e4ad59474e3eb9e647820 = L.popup({"maxWidth": "100%"});

        
            var html_482e86e48a444c6e9de00287d0541645 = $(`<div id="html_482e86e48a444c6e9de00287d0541645" style="width: 100.0%; height: 100.0%;"><b>N2M 1B2 100</b></div>`)[0];
            popup_2a32d18b605e4ad59474e3eb9e647820.setContent(html_482e86e48a444c6e9de00287d0541645);
        

        marker_28ffd7708c0048eaa450189aa9f39597.bindPopup(popup_2a32d18b605e4ad59474e3eb9e647820)
        ;

        
    
    
            marker_28ffd7708c0048eaa450189aa9f39597.bindTooltip(
                `<div>
                     100
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_490c15b588484200b81a37f48ae01906 = L.marker(
                [43.4715, -80.5454],
                {}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
        var popup_6791f13646d943a1a74c4d41c410c157 = L.popup({"maxWidth": "100%"});

        
            var html_dbd27bc0f7e84f558fbff83a10f4b0e7 = $(`<div id="html_dbd27bc0f7e84f558fbff83a10f4b0e7" style="width: 100.0%; height: 100.0%;"><b>N2L 5W6 100</b></div>`)[0];
            popup_6791f13646d943a1a74c4d41c410c157.setContent(html_dbd27bc0f7e84f558fbff83a10f4b0e7);
        

        marker_490c15b588484200b81a37f48ae01906.bindPopup(popup_6791f13646d943a1a74c4d41c410c157)
        ;

        
    
    
            marker_490c15b588484200b81a37f48ae01906.bindTooltip(
                `<div>
                     100
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e7fd2c4a805a452a81e3d3500aa3be72 = L.marker(
                [43.6404, -79.3995],
                {}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
        var popup_9396f38878144247b10c8ead9ba6e308 = L.popup({"maxWidth": "100%"});

        
            var html_9eba06dcfd5746c3a7637e295f90bddb = $(`<div id="html_9eba06dcfd5746c3a7637e295f90bddb" style="width: 100.0%; height: 100.0%;"><b>M5V 3L9 100</b></div>`)[0];
            popup_9396f38878144247b10c8ead9ba6e308.setContent(html_9eba06dcfd5746c3a7637e295f90bddb);
        

        marker_e7fd2c4a805a452a81e3d3500aa3be72.bindPopup(popup_9396f38878144247b10c8ead9ba6e308)
        ;

        
    
    
            marker_e7fd2c4a805a452a81e3d3500aa3be72.bindTooltip(
                `<div>
                     100
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_716f878c23db4cc38d13e3f008c07147 = L.marker(
                [43.4363, -80.5093],
                {}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
        var popup_beb6bc498a0e4261aa4cc36a28ba66a6 = L.popup({"maxWidth": "100%"});

        
            var html_f309698660714da7b04542ac4555d81b = $(`<div id="html_f309698660714da7b04542ac4555d81b" style="width: 100.0%; height: 100.0%;"><b>N2M 1B2 100</b></div>`)[0];
            popup_beb6bc498a0e4261aa4cc36a28ba66a6.setContent(html_f309698660714da7b04542ac4555d81b);
        

        marker_716f878c23db4cc38d13e3f008c07147.bindPopup(popup_beb6bc498a0e4261aa4cc36a28ba66a6)
        ;

        
    
    
            marker_716f878c23db4cc38d13e3f008c07147.bindTooltip(
                `<div>
                     100
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ebd9732da3ed4b58935bb276d838849c = L.marker(
                [49.2833, -123.1298],
                {}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
        var popup_86e051d70c884a438fe44a0a1fee7acd = L.popup({"maxWidth": "100%"});

        
            var html_6cb3af3ff2264f269c2b504bb0fa4346 = $(`<div id="html_6cb3af3ff2264f269c2b504bb0fa4346" style="width: 100.0%; height: 100.0%;"><b>V6E 3P2 343243</b></div>`)[0];
            popup_86e051d70c884a438fe44a0a1fee7acd.setContent(html_6cb3af3ff2264f269c2b504bb0fa4346);
        

        marker_ebd9732da3ed4b58935bb276d838849c.bindPopup(popup_86e051d70c884a438fe44a0a1fee7acd)
        ;

        
    
    
            marker_ebd9732da3ed4b58935bb276d838849c.bindTooltip(
                `<div>
                     343243
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8dc71c9c4d1e4fa0abdefb87f02e1d32 = L.marker(
                [43.4363, -80.5093],
                {}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
        var popup_3ba676d46814471da5dfb91306ce6508 = L.popup({"maxWidth": "100%"});

        
            var html_880bd6fdcb8144dd815a7508f3bae5a1 = $(`<div id="html_880bd6fdcb8144dd815a7508f3bae5a1" style="width: 100.0%; height: 100.0%;"><b>N2M 1B2 100</b></div>`)[0];
            popup_3ba676d46814471da5dfb91306ce6508.setContent(html_880bd6fdcb8144dd815a7508f3bae5a1);
        

        marker_8dc71c9c4d1e4fa0abdefb87f02e1d32.bindPopup(popup_3ba676d46814471da5dfb91306ce6508)
        ;

        
    
    
            marker_8dc71c9c4d1e4fa0abdefb87f02e1d32.bindTooltip(
                `<div>
                     100
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4d350b1eca81410ea44364b86a595af7 = L.marker(
                [53.6365, -113.4673],
                {}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
        var popup_1cc59c4b4ae14156b806315da3dae1ab = L.popup({"maxWidth": "100%"});

        
            var html_ee7cc3f31dd34438bfe6ad3815e13a55 = $(`<div id="html_ee7cc3f31dd34438bfe6ad3815e13a55" style="width: 100.0%; height: 100.0%;"><b>T5Z 5Z5 69</b></div>`)[0];
            popup_1cc59c4b4ae14156b806315da3dae1ab.setContent(html_ee7cc3f31dd34438bfe6ad3815e13a55);
        

        marker_4d350b1eca81410ea44364b86a595af7.bindPopup(popup_1cc59c4b4ae14156b806315da3dae1ab)
        ;

        
    
    
            marker_4d350b1eca81410ea44364b86a595af7.bindTooltip(
                `<div>
                     69
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_900b6f0e8d744755bb0466bd9f1149ed = L.marker(
                [52.6768, -113.5815],
                {}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
        var popup_66170b01e5954896b98e3747178a2b8d = L.popup({"maxWidth": "100%"});

        
            var html_bf82a9de1b8a4d0ca9215da1da8c4b96 = $(`<div id="html_bf82a9de1b8a4d0ca9215da1da8c4b96" style="width: 100.0%; height: 100.0%;"><b>T4J 1J8 199</b></div>`)[0];
            popup_66170b01e5954896b98e3747178a2b8d.setContent(html_bf82a9de1b8a4d0ca9215da1da8c4b96);
        

        marker_900b6f0e8d744755bb0466bd9f1149ed.bindPopup(popup_66170b01e5954896b98e3747178a2b8d)
        ;

        
    
    
            marker_900b6f0e8d744755bb0466bd9f1149ed.bindTooltip(
                `<div>
                     199
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0af96181c45147c38f1764450f6fd4ab = L.marker(
                [43.5569, -80.4414],
                {}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
        var popup_e1891c5df68a4938a21c61ee6575f7d6 = L.popup({"maxWidth": "100%"});

        
            var html_2b12f0effb6d4fd58674de3e1811c996 = $(`<div id="html_2b12f0effb6d4fd58674de3e1811c996" style="width: 100.0%; height: 100.0%;"><b>N0B 2G0 199</b></div>`)[0];
            popup_e1891c5df68a4938a21c61ee6575f7d6.setContent(html_2b12f0effb6d4fd58674de3e1811c996);
        

        marker_0af96181c45147c38f1764450f6fd4ab.bindPopup(popup_e1891c5df68a4938a21c61ee6575f7d6)
        ;

        
    
    
            marker_0af96181c45147c38f1764450f6fd4ab.bindTooltip(
                `<div>
                     199
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_57085d1d57594a4982924b8f3b74733a = L.marker(
                [60.7161, -135.0537],
                {}
            ).addTo(map_40e0c0118d1d476793c55755e149a585);
        
    
        var popup_302188c556a74030933505eac7c79f35 = L.popup({"maxWidth": "100%"});

        
            var html_d84771fb773347428bf9f5bd7131e013 = $(`<div id="html_d84771fb773347428bf9f5bd7131e013" style="width: 100.0%; height: 100.0%;"><b>Y1A 2A2 199</b></div>`)[0];
            popup_302188c556a74030933505eac7c79f35.setContent(html_d84771fb773347428bf9f5bd7131e013);
        

        marker_57085d1d57594a4982924b8f3b74733a.bindPopup(popup_302188c556a74030933505eac7c79f35)
        ;

        
    
    
            marker_57085d1d57594a4982924b8f3b74733a.bindTooltip(
                `<div>
                     199
                 </div>`,
                {"sticky": true}
            );
        
</script>